<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style type="text/css">
		
		.card{
			margin-right: 9vh;
			margin-bottom: 10vh;
			margin-top: 5vh;			
		}

	</style>
</head>
<body>
	
	<div>
		
		<% include navbar.ejs ;%>

	<div>
		
	<div>
		<div class="container mt-3">
		  	<h2 style="margin-top: 12vh;">Search Events</h2>
		  	<input class="form-control" id="myInput" type="text" placeholder="Search..">
		  	<div id="searchEvents" class="mt-3">
		    	<div class="container row">

		    	<% results.forEach(function(result) { %>
				  <div class="card" style="width:300px">
				    <img class="card-img-top" src="<%= result.image %>" alt="Card image" style="width:100%">
				    <div class="card-body">
				      <h4 class="card-title"><%= result.eventName %></h4>
				      <p class="card-text"><%= result.description %></p>
				      <div class="row">
				      
				      <form action="/organiser/getVolunteers" method="post">
				      	<input type="hidden" name="eventId" value="<%= result.eventId %>">
				      	<button type="submit" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#viewEvent">View Event</button>
				      </form>
				      <a href="/organiser/fullEvent" class="text text-primary stretched-link" style="margin-left: 10vh;">See More...</a>
				      </div>
				    </div>
				  </div>
				 <% }); %>
				</div>

		  	</div>
		</div>
	</div>

</body>

<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#searchEvents .card").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
	</script>

</html>